.radio-group {
    display: flex;
    flex-direction: column;  
    gap: 0.5rem;  
  }
  
  .radio-label {
    display: flex;
    align-items: center; / 
  }

 .styled-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;  
  appearance: none;
  background-color: #f8f9fa;  
  border: 1px solid #ced4da;  
  border-radius: 10px;
  cursor: not-allowed;  
}

 .styled-checkbox:checked::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #28a745;  
  border-radius:10px;
}

 .styled-checkbox:checked::after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;  
  font-size: 14px;
}


 .styled-checkbox:not(:checked) {
  background-color: #dc3545;  
}

 .styled-checkbox:not(:checked)::after {
  content: '✘';  
  position: absolute;
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;  
  font-size: 14px;
}
.table {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
}

.table th[colspan="3"] {
  text-align: center;
}

.form-check.form-check-inline {
  margin-right: 0;
}

.form-check-input {
  margin: 0;
}
