<br>
<br>
<br>
<br>
<br>
<br>

<!-- sign-in.component.html -->
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
      <h1><a routerLink="">Terminal Manager</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
       
    <div class="text-center mt-4">
      <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
    </div>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links d-flex align-items-center">
      <a href="https://x.com/telnetholding" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/telnet.holding.tn" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.linkedin.com/in/telnet-tunisie-bb5883140" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

  </div>
</header><!-- End Header -->
     
    <section id="portfolio" class="portfolio">
        <div class="container">
    
          <div class="section-title">
            <h2>Welcome to your Portfolio</h2>
            <p>Find below your portfolio items showcasing your EPT devices.</p>
          </div>
        
          <!--tableau-->
          <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search...">
          <table class="table" id="dataTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">TID</th>
                <th scope="col">sponsor</th>
                <th scope="col">GEM Test</th>
                <th scope="col">GEM Auto</th>
                <th scope="col">GEM util</th>
                <th scope="col">Terminal type</th>
                <th scope="col">option</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>101</td>
                <td>TID-001</td>
                <td> A</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>MOVE </td>
                <td>DCC</td>
              </tr>
              <tr>
                <td>2</td>
                <td>202</td>
                <td>TID-002</td>
                <td> B</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>Standard </td>
                <td>UDA</td>
              </tr>
              <tr>
                <td>3</td>
                <td>303</td>
                <td>TID-003</td>
                <td> C</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>DESK </td>
                <td>DCC</td>
              </tr>
              <tr>
                <td>4</td>
                <td>404</td>
                <td>TID-004</td>
                <td> D</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>Standard </td>
                <td>UDA</td>
              </tr>
              <tr>
                <td>5</td>
                <td>505</td>
                <td>TID-005</td>
                <td> E</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>MOVE </td>
                <td>UDA</td>
              </tr>
            </tbody>
          </table>
          