


<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
  
      <div class="logo me-auto">
        <h1><a routerLink="">Terminal Manager</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
  
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
      <div class="header-social-links d-flex align-items-center">
        <a href="https://x.com/telnetholding" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/telnet.holding.tn" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.linkedin.com/in/telnet-tunisie-bb5883140" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
  
    </div>
  </header><!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>E-Pay Terminal Manager</span></h1>
      <h2>Simplify TPE Devices Management</h2>
      <a routerLink="/signIn" routerLinkActive="active" style="cursor: pointer;" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->
  
  <main id="main">
  
    <!-- ======= What We Do Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container">
  
        <div class="section-title">
          <h2>What We Do</h2>
          <p>We streamline TPE device management, paper-free.</p>
        </div>
  
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-tree"></i></div>
              <h4><a href="">Protect</a></h4>
              <p>Maintaining nature's resources by limiting papers consumption</p>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Digitize</a></h4>
              <p>Embrace the efficiency of digital solutions to streamline processes</p>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Accelerate</a></h4>
              <p>Accelerate your operations through digital innovation and save valuable time for greater efficiency </p>
            </div>
          </div>
  
        </div>
  
      </div>
    </section><!-- End What We Do Section -->
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
  
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/tpe.jpg" loading="lazy"  class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About Us</h3>
            <p>
              E-Pay Terminal Manager specializes in managing EPT devices for workers in TELNET, optimizing operational efficiency. 
              we've been dedicated to simplifying device management, ensuring smooth  operational integration seamless integration 
              for your workforce.</p>
            <ul>
              <li><i class="bx bx-check-double"></i> Vision for the Future: driven by a vision to revolutionize TPE device management for TELNET workers.</li>
              <li><i class="bx bx-check-double"></i> Foundational Values: built upon a foundation of dedication to user satisfaction and continuous improvement.</li>
            </ul>
            <div class="row icon-boxes">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                <h4>Corporis voluptates sit</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Ullamco laboris nisi</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End About Section -->
  
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container">
  
        <div class="row skills-content">
  
          <div class="col-lg-6">
  
            <div class="progress">
              <span class="skill">Paper_free <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
  
  
          </div>
  
          <div class="col-lg-6">
  
            <div class="progress">
              <span class="skill">Easier <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
  
  
          </div>
  
        </div>
  
      </div>
    </section><!-- End Skills Section -->
  
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
  
        <div class="row">
  
          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="1994" data-purecounter-duration="1" class="purecounter"></span>
              <p>more than 30 years</p>
            </div>
          </div>
  
          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p>Sites around the world </p> 
            </div>
          </div>
  
          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>Activity Domain</p>
            </div>
          </div>
  
          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>
  
        </div>
  
      </div>
    </section><!-- End Counts Section -->
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">
  
        <div class="section-title">
          <h2>Services</h2>
          <p>What do we offer</p>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">TPE Device Management</a></h4>
              <p>Managing and optimizing TPE (Terminal de Paiement Électronique) devices for TELNET workers.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Security Features</a></h4>
              <p>Implementing robust security features to protect TPE device data.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Authentication Services</a></h4>
              <p>Providing secure authentication solutions for TPE (Terminal de Paiement Électronique) devices used by TELNET workers.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">Technical Support</a></h4>
              <p> Offering ongoing technical support and troubleshooting for TPE device-related issues.</p>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Services Section -->
  
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">
  
        <div class="section-title">
          <h2>Contact</h2>
        </div>
  
        <div class="row mt-5 justify-content-center">
  
          <div class="col-lg-10">
  
            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Rue jamel eddin el Afghani, 
                    <br>Sfax 3099</p>
                </div>
  
                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info&#64;groupe-telnet.net<br></p>
                </div>
  
                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p> +216 74 287 700<br></p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
  
        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
  
        </div>
  
      </div>
    </section><!-- End Contact Section -->
  
  </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
  
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Location</h3>
            <p>
              Rue jamel eddin el Afghani, Sfax 3099
  <br><br>
              <strong>Phone:</strong> 74 287 700<br>
              <strong>Email:</strong> info&#64;groupe-telnet.net
              <br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
             <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">
  
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <!-- Vendor JS Files -->
  